.product-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 fit;
  height: 48rem;
  width: 22rem;
  border: 1px solid black;

  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .product-info {
    display: flex;
    justify-content: space-between;

    .product-title,
    .product-price {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (width <=768px) {
  .product-card {
    flex: 1 0 0;
    height: auto;
  }
}
