.category-list {
  display: grid;
  margin: 2rem auto;
  width: 80%;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  place-items: center;
  gap: 12px;

}

@media (width <=1024px) and (orientation: landscape) {
  .category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    place-items: start;

  }
}

@media (width <=768px) {
  .category-list {
    display: flex;
    flex-direction: column;
  }
}
