.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  height: 7rem;
  background-color: rgba(10, 10, 10, 0.88);
  color: #fff;

  .navbar {
    .menu {
      display: flex;
      list-style: none;
      gap: 24px;

      .menuitem {
        font-size: 120%;
      }
    }
  }

}

@media (width <=768px) {
  .header {
    flex-direction: column;
  }
}
