@use '../../styles/base' as b;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  height: 7rem;
  background-color: rgba(10, 10, 10, 0.88);
  color: #fff;
  padding: b.$document-padding;

  h2 {
    font-family: 'Notable';
    font-size: 190%;
    font-weight: 900;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 25px;

    .menu {
      display: flex;
      list-style: none;
      gap: 24px;

      .menuitem {
        font-size: 120%;
      }
    }
  }

}

a {
  text-decoration: none;
  color: #fff;
}

@media (width <=768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;

    .navbar {
      width: inherit;
    }
  }
}
