@use '../../styles/base' as b;

.tag{
  // background-color: rgb($red: b.getRandomNb(), $green: b.getRandomNb(), $blue: b.getRandomNb());
  // background-color: b.getRandomColor();
  background-color: #000;
  padding: 1px 3px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

